@import-normalize; /* bring in normalize.css styles */

:root {
  --link-color: #2f2f2f;
  --accent-color: #ff8d1a;
  --secondary-text-color: #7e8594;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--link-color);
  background-color: #f3f8fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
